// Colores generales
$color_back_body: #333333;
$color_text_body: #faebd7;

// Colores Menu
$color_back_menu: #bd4444;
$color_back_item_menu: #e67349;
$color_text_item_menu: #474242;

// Pie de pagina
$color_back_footer: #bd4444;
$color_text_footer: #1f1c1c;

// Card pokemones
$color_border_card: #8ab688;
$color_border_ability: #8ab688;

// Tabla pokemones
$color_border_table: #faebd7;
$color_back_btn_table: #008CBA;
$color_text_btn_table: #000000;